/* Styling for the entire body of the web page */
body 
{
    /* Font for the entire page */
  font-family:sans-serif; 

  /* Background for the web page */
  background: #093028;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #093028, #237A57); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  /* Choosing font color */
  color:whitesmoke;
}

.pw-generator {
    /* Modify radius for the corners */
    border-radius: 15px;
    /* Add padding */
    padding: 40px;
    /* Chhose a background color for the div container */
    background-color: rgba(11, 15, 13, 0.582);
    /* Set width for the container */
    width: 25rem;


    /* The following code places the container at the center */
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  /* Color for the descriptions */
  .pw-generator p{
    color: gray;
  }

  /* Put the heading at the center */
  .pw-generator h2 {
    justify-content: center;
    display: flex;
  }

  /* Setting style for the password box */
  .pw-box {
    background-color: whitesmoke;
    border-radius: 5px;
    height: 50px;
    color: black;
    display: flex;

    /* Add padding so that the password is shown a bit away from the border */
    padding: 0px 15px;
  }

  /* Setting style for div for checkboxes and password box */
  .pw-generator div {
    display: flex;

    /* The following attribute sets the label and checkbox at the extreme ends */
    justify-content: space-between;

    /* Margin for top and bottom of every div element */
    margin: 15px 0;
  }

  /* Use flexbox to display the buttons in the same row.
  Also, the buttons should be put at the two extreme ends */
  .buttons {
    display: flex;
    justify-content: space-between;
  }

  /* Customize the button */
  .buttons button {

    width: 180px;
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    font-size: 18px;
  }

  /* Media queries that modifies at the width of atmost 500px */
  @media screen and (max-width: 500px) {
      /* The following changes will occur */
      
    .pw-generator{
      width: 20rem;
    }
  
    .buttons button {
      width: 120px;
    }
  }
  
  /* Media queries that modifies at the width of atmost 400px */
  @media screen and (max-width: 400px) {
      /* The following changes will occur */
      
    .pw-generator{
      width: 17rem;
    }
  
    .buttons button {
      width: 100px;
      font-size: 15px;
      padding: 10px 6px;
    }
  }